
body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}a {
  color: #750505;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #40ccc7;
  text-decoration: underline; /* Underlining when hovering over a link */
} 

/* img {
  width: 100%;
} */

a:visited { /* visited link */
  color: #000000;
}
a:active { /* selected link */
  color: #e80f9c;
}
a:hover,
a:focus {
  color: #186366;
  text-decoration: underline;
}


.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #40ccc7;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #21626f; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #40ccc7;
  text-transform: uppercase;
  border: 2px solid #40ccc7;
}
.button.contact:hover {
  background-color: #40ccc7;
  color: #000000;
}
a {/* element selector */
  color: rgb(14, 231, 231);
}

#my-link {/* id selector */
  color: green;  
}

.my-link {/* class selector */
  color: blue;  
}

header {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
}

#hero h1 {
  text-align: center; /* Centers text */
}
.logo {
  max-width: 250px;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

#hero {
  background-color: #cbf6f5;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero2 {
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top:30px;
}

.col-md-6 {
  float: left;
  width: 57%;
  margin-left: 3%;
}
.col-lg-5 {
  float: right;
  width: 35%;
  margin-left: 5%;
  border: 1;
}

.container {
  max-width: 1200px;
  margin-left: 30px;
  margin-right: auto;
}

#work {
  padding-left: 30px;
}

/* ==============================
Medium devices (640px and larger)
================================= */

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}

  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
